/* Footer */
.footer {
    background: black;
    color: white;
    padding: 50px 160px 20px 160px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section-text, .footer-section-logo {
    margin-bottom: 20px;
}

.footer-section-text h4, .footer-section-logo h4 {
    margin-bottom: 10px;
}

.footer-section-text a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 8px 0;
    font-size: 14px;
}

.footer-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 20px;
}

.footer-categories h4 {
    grid-column: span 2;
    margin-bottom: 10px;
}

.social-icons a, .payment-icons a {
    margin-right: 10px;
}

.social-icons img, .payment-icons img {
    max-width: 35px;
    margin: 8px 0px 0px 0px;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #aaaaaa;
}