/* Top Notification */
.top-notification {
    background: black;
    color: white;
    text-align: center;
    padding: 13px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    align-items: center;
}
.logo img {
    height: 20px;
    width: auto;
}

.nav a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

.nav a:hover {
    color: #2009ea;
    text-decoration: underline;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.icon img { 
    height: 20px; 
}